In [1]:
import pyspark
from pyspark.sql import SparkSession #Necessary for initializing pyspark
from pyspark.sql.functions import *

In [3]:
# Creating a SparkSession
spark = (SparkSession.builder.appName("SparkSQLExample").getOrCreate())

# Path to data set
csv_file = "onlinefoods.csv"

df = spark.read \
    .format("csv") \
    .option("inferSchema", "true") \
    .option("header", "true") \
    .load(csv_file)


# Creating a temporary view to run SQL Queries
df.createOrReplaceTempView("u")

In [4]:
df.show()

+---+------+--------------+--------------+---------------+--------------------------+-----------+--------+---------+--------+------+---------+----+
|Age|Gender|Marital Status|    Occupation| Monthly Income|Educational Qualifications|Family size|latitude|longitude|Pin code|Output| Feedback|_c12|
+---+------+--------------+--------------+---------------+--------------------------+-----------+--------+---------+--------+------+---------+----+
| 20|Female|        Single|       Student|      No Income|             Post Graduate|          4| 12.9766|  77.5993|  560001|   Yes| Positive| Yes|
| 24|Female|        Single|       Student| Below Rs.10000|                  Graduate|          3|  12.977|  77.5773|  560009|   Yes| Positive| Yes|
| 22|  Male|        Single|       Student| Below Rs.10000|             Post Graduate|          3| 12.9551|  77.6593|  560017|   Yes|Negative | Yes|
| 22|Female|        Single|       Student|      No Income|                  Graduate|          6| 12.9473|  77.5616|  560019|   Yes| Positive| Yes|
| 22|  Male|        Single|       Student| Below Rs.10000|             Post Graduate|          4|  12.985|  77.5533|  560010|   Yes| Positive| Yes|
| 27|Female|       Married|      Employee|More than 50000|             Post Graduate|          2| 12.9299|  77.6848|  560103|   Yes| Positive| Yes|
| 22|  Male|        Single|       Student|      No Income|                  Graduate|          3|  12.977|  77.5773|  560009|   Yes| Positive| Yes|
| 24|Female|        Single|       Student|      No Income|             Post Graduate|          3| 12.9828|  77.6131|  560042|   Yes| Positive| Yes|
| 23|Female|        Single|       Student|      No Income|             Post Graduate|          2| 12.9766|  77.5993|  560001|   Yes| Positive| Yes|
| 23|Female|        Single|       Student|      No Income|             Post Graduate|          4| 12.9854|  77.7081|  560048|   Yes| Positive| Yes|
| 22|Female|        Single|       Student|      No Income|             Post Graduate|          5|  12.985|  77.5533|  560010|   Yes| Positive| Yes|
| 23|  Male|        Single|       Student| Below Rs.10000|             Post Graduate|          2|  12.977|  77.5773|  560009|   Yes|Negative | Yes|
| 23|  Male|        Single|       Student|      No Income|             Post Graduate|          5| 12.8988|  77.5764|  560078|   Yes| Positive| Yes|
| 21|  Male|        Single|       Student|      No Income|                  Graduate|          4|  12.977|  77.5773|  560009|   Yes| Positive| Yes|
| 23|Female|        Single|Self Employeed| 10001 to 25000|             Post Graduate|          5| 12.9438|  77.5738|  560004|   Yes| Positive| Yes|
| 24|Female|        Single|       Student|      No Income|             Post Graduate|          6| 12.8893|  77.6399|  560068|   Yes| Positive| Yes|
| 28|Female|        Single|      Employee| 25001 to 50000|             Post Graduate|          2| 12.9783|  77.6408|  560038|   Yes| Positive| Yes|
| 23|Female|        Single|       Student|      No Income|                  Graduate|          3|  12.982|  77.6256|  560008|   Yes|Negative | Yes|
| 25|  Male|        Single|       Student|      No Income|                  Graduate|          4| 12.8988|  77.5764|  560078|   Yes|Negative | Yes|
| 21|Female|        Single|       Student| Below Rs.10000|             Post Graduate|          1| 12.9783|  77.6408|  560038|   Yes| Positive| Yes|
+---+------+--------------+--------------+---------------+--------------------------+-----------+--------+---------+--------+------+---------+----+
only showing top 20 rows

In [5]:
df.describe().show()

+-------+------------------+------+--------------+----------+--------------+--------------------------+------------------+--------------------+------------------+------------------+------+---------+----+
|summary|               Age|Gender|Marital Status|Occupation|Monthly Income|Educational Qualifications|       Family size|            latitude|         longitude|          Pin code|Output| Feedback|_c12|
+-------+------------------+------+--------------+----------+--------------+--------------------------+------------------+--------------------+------------------+------------------+------+---------+----+
|  count|               388|   388|           388|       388|           388|                       388|               388|                 388|               388|               388|   388|      388| 388|
|   mean|24.628865979381445|  NULL|          NULL|      NULL|          NULL|                      NULL|3.2809278350515463|  12.972057989690706| 77.60015953608251| 560040.1134020619|  NULL|     NULL|NULL|
| stddev| 2.975592660672904|  NULL|          NULL|      NULL|          NULL|                      NULL|1.3510249396453127|0.044489248628105924|0.0513539170127217|31.399608710261372|  NULL|     NULL|NULL|
|    min|                18|Female|       Married|  Employee|10001 to 25000|                  Graduate|                 1|             12.8652|           77.4842|            560001|    No|Negative |  No|
|    max|                33|  Male|        Single|   Student|     No Income|                Uneducated|                 6|              13.102|           77.7582|            560109|   Yes| Positive| Yes|
+-------+------------------+------+--------------+----------+--------------+--------------------------+------------------+--------------------+------------------+------------------+------+---------+----+

In [6]:
df.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Marital Status: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Monthly Income: string (nullable = true)
 |-- Educational Qualifications: string (nullable = true)
 |-- Family size: integer (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- Pin code: integer (nullable = true)
 |-- Output: string (nullable = true)
 |-- Feedback: string (nullable = true)
 |-- _c12: string (nullable = true)

In [7]:
df.isEmpty()

False

In [8]:
df.columns

['Age',
 'Gender',
 'Marital Status',
 'Occupation',
 'Monthly Income',
 'Educational Qualifications',
 'Family size',
 'latitude',
 'longitude',
 'Pin code',
 'Output',
 'Feedback',
 '_c12']

In [9]:
df.count()

388

In [10]:
df.head(10)

[Row(Age=20, Gender='Female', Marital Status='Single', Occupation='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=4, latitude=12.9766, longitude=77.5993, Pin code=560001, Output='Yes', Feedback='Positive', _c12='Yes'),
 Row(Age=24, Gender='Female', Marital Status='Single', Occupation='Student', Monthly Income='Below Rs.10000', Educational Qualifications='Graduate', Family size=3, latitude=12.977, longitude=77.5773, Pin code=560009, Output='Yes', Feedback='Positive', _c12='Yes'),
 Row(Age=22, Gender='Male', Marital Status='Single', Occupation='Student', Monthly Income='Below Rs.10000', Educational Qualifications='Post Graduate', Family size=3, latitude=12.9551, longitude=77.6593, Pin code=560017, Output='Yes', Feedback='Negative ', _c12='Yes'),
 Row(Age=22, Gender='Female', Marital Status='Single', Occupation='Student', Monthly Income='No Income', Educational Qualifications='Graduate', Family size=6, latitude=12.9473, longitude=77.5616, Pin code=560019, Output='Yes', Feedback='Positive', _c12='Yes'),
 Row(Age=22, Gender='Male', Marital Status='Single', Occupation='Student', Monthly Income='Below Rs.10000', Educational Qualifications='Post Graduate', Family size=4, latitude=12.985, longitude=77.5533, Pin code=560010, Output='Yes', Feedback='Positive', _c12='Yes'),
 Row(Age=27, Gender='Female', Marital Status='Married', Occupation='Employee', Monthly Income='More than 50000', Educational Qualifications='Post Graduate', Family size=2, latitude=12.9299, longitude=77.6848, Pin code=560103, Output='Yes', Feedback='Positive', _c12='Yes'),
 Row(Age=22, Gender='Male', Marital Status='Single', Occupation='Student', Monthly Income='No Income', Educational Qualifications='Graduate', Family size=3, latitude=12.977, longitude=77.5773, Pin code=560009, Output='Yes', Feedback='Positive', _c12='Yes'),
 Row(Age=24, Gender='Female', Marital Status='Single', Occupation='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=3, latitude=12.9828, longitude=77.6131, Pin code=560042, Output='Yes', Feedback='Positive', _c12='Yes'),
 Row(Age=23, Gender='Female', Marital Status='Single', Occupation='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=2, latitude=12.9766, longitude=77.5993, Pin code=560001, Output='Yes', Feedback='Positive', _c12='Yes'),
 Row(Age=23, Gender='Female', Marital Status='Single', Occupation='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=4, latitude=12.9854, longitude=77.7081, Pin code=560048, Output='Yes', Feedback='Positive', _c12='Yes')]

In [11]:
new_df = df.select('Age', 'Monthly Income')

In [12]:
new_df.show()

+---+---------------+
|Age| Monthly Income|
+---+---------------+
| 20|      No Income|
| 24| Below Rs.10000|
| 22| Below Rs.10000|
| 22|      No Income|
| 22| Below Rs.10000|
| 27|More than 50000|
| 22|      No Income|
| 24|      No Income|
| 23|      No Income|
| 23|      No Income|
| 22|      No Income|
| 23| Below Rs.10000|
| 23|      No Income|
| 21|      No Income|
| 23| 10001 to 25000|
| 24|      No Income|
| 28| 25001 to 50000|
| 23|      No Income|
| 25|      No Income|
| 21| Below Rs.10000|
+---+---------------+
only showing top 20 rows

In [13]:
first_two_rows = df.take(2)

# Print the result
for row in first_two_rows:
    print(row)

Row(Age=20, Gender='Female', Marital Status='Single', Occupation='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=4, latitude=12.9766, longitude=77.5993, Pin code=560001, Output='Yes', Feedback='Positive', _c12='Yes')
Row(Age=24, Gender='Female', Marital Status='Single', Occupation='Student', Monthly Income='Below Rs.10000', Educational Qualifications='Graduate', Family size=3, latitude=12.977, longitude=77.5773, Pin code=560009, Output='Yes', Feedback='Positive', _c12='Yes')

In [17]:
first_row = df.first()

# Convert row to dictionary
row_dict = first_row.asDict()

row_dict

{'Age': 20,
 'Gender': 'Female',
 'Marital Status': 'Single',
 'Occupation': 'Student',
 'Monthly Income': 'No Income',
 'Educational Qualifications': 'Post Graduate',
 'Family size': 4,
 'latitude': 12.9766,
 'longitude': 77.5993,
 'Pin code': 560001,
 'Output': 'Yes',
 'Feedback': 'Positive',
 '_c12': 'Yes'}

In [19]:
# Adding column based on some condition
df = df.withColumn("Post_Graduate_Customer", when(df["Educational Qualifications"] == "Post Graduate", "Yes").otherwise("No"))

df.show()

+---+------+--------------+--------------+---------------+--------------------------+-----------+--------+---------+--------+------+---------+----+----------------------+
|Age|Gender|Marital Status|    Occupation| Monthly Income|Educational Qualifications|Family size|latitude|longitude|Pin code|Output| Feedback|_c12|Post_Graduate_Customer|
+---+------+--------------+--------------+---------------+--------------------------+-----------+--------+---------+--------+------+---------+----+----------------------+
| 20|Female|        Single|       Student|      No Income|             Post Graduate|          4| 12.9766|  77.5993|  560001|   Yes| Positive| Yes|                   Yes|
| 24|Female|        Single|       Student| Below Rs.10000|                  Graduate|          3|  12.977|  77.5773|  560009|   Yes| Positive| Yes|                    No|
| 22|  Male|        Single|       Student| Below Rs.10000|             Post Graduate|          3| 12.9551|  77.6593|  560017|   Yes|Negative | Yes|                   Yes|
| 22|Female|        Single|       Student|      No Income|                  Graduate|          6| 12.9473|  77.5616|  560019|   Yes| Positive| Yes|                    No|
| 22|  Male|        Single|       Student| Below Rs.10000|             Post Graduate|          4|  12.985|  77.5533|  560010|   Yes| Positive| Yes|                   Yes|
| 27|Female|       Married|      Employee|More than 50000|             Post Graduate|          2| 12.9299|  77.6848|  560103|   Yes| Positive| Yes|                   Yes|
| 22|  Male|        Single|       Student|      No Income|                  Graduate|          3|  12.977|  77.5773|  560009|   Yes| Positive| Yes|                    No|
| 24|Female|        Single|       Student|      No Income|             Post Graduate|          3| 12.9828|  77.6131|  560042|   Yes| Positive| Yes|                   Yes|
| 23|Female|        Single|       Student|      No Income|             Post Graduate|          2| 12.9766|  77.5993|  560001|   Yes| Positive| Yes|                   Yes|
| 23|Female|        Single|       Student|      No Income|             Post Graduate|          4| 12.9854|  77.7081|  560048|   Yes| Positive| Yes|                   Yes|
| 22|Female|        Single|       Student|      No Income|             Post Graduate|          5|  12.985|  77.5533|  560010|   Yes| Positive| Yes|                   Yes|
| 23|  Male|        Single|       Student| Below Rs.10000|             Post Graduate|          2|  12.977|  77.5773|  560009|   Yes|Negative | Yes|                   Yes|
| 23|  Male|        Single|       Student|      No Income|             Post Graduate|          5| 12.8988|  77.5764|  560078|   Yes| Positive| Yes|                   Yes|
| 21|  Male|        Single|       Student|      No Income|                  Graduate|          4|  12.977|  77.5773|  560009|   Yes| Positive| Yes|                    No|
| 23|Female|        Single|Self Employeed| 10001 to 25000|             Post Graduate|          5| 12.9438|  77.5738|  560004|   Yes| Positive| Yes|                   Yes|
| 24|Female|        Single|       Student|      No Income|             Post Graduate|          6| 12.8893|  77.6399|  560068|   Yes| Positive| Yes|                   Yes|
| 28|Female|        Single|      Employee| 25001 to 50000|             Post Graduate|          2| 12.9783|  77.6408|  560038|   Yes| Positive| Yes|                   Yes|
| 23|Female|        Single|       Student|      No Income|                  Graduate|          3|  12.982|  77.6256|  560008|   Yes|Negative | Yes|                    No|
| 25|  Male|        Single|       Student|      No Income|                  Graduate|          4| 12.8988|  77.5764|  560078|   Yes|Negative | Yes|                    No|
| 21|Female|        Single|       Student| Below Rs.10000|             Post Graduate|          1| 12.9783|  77.6408|  560038|   Yes| Positive| Yes|                   Yes|
+---+------+--------------+--------------+---------------+--------------------------+-----------+--------+---------+--------+------+---------+----+----------------------+
only showing top 20 rows

In [20]:
df = df.withColumnRenamed("Occupation", "Job Status")

df.show()

+---+------+--------------+--------------+---------------+--------------------------+-----------+--------+---------+--------+------+---------+----+----------------------+
|Age|Gender|Marital Status|    Job Status| Monthly Income|Educational Qualifications|Family size|latitude|longitude|Pin code|Output| Feedback|_c12|Post_Graduate_Customer|
+---+------+--------------+--------------+---------------+--------------------------+-----------+--------+---------+--------+------+---------+----+----------------------+
| 20|Female|        Single|       Student|      No Income|             Post Graduate|          4| 12.9766|  77.5993|  560001|   Yes| Positive| Yes|                   Yes|
| 24|Female|        Single|       Student| Below Rs.10000|                  Graduate|          3|  12.977|  77.5773|  560009|   Yes| Positive| Yes|                    No|
| 22|  Male|        Single|       Student| Below Rs.10000|             Post Graduate|          3| 12.9551|  77.6593|  560017|   Yes|Negative | Yes|                   Yes|
| 22|Female|        Single|       Student|      No Income|                  Graduate|          6| 12.9473|  77.5616|  560019|   Yes| Positive| Yes|                    No|
| 22|  Male|        Single|       Student| Below Rs.10000|             Post Graduate|          4|  12.985|  77.5533|  560010|   Yes| Positive| Yes|                   Yes|
| 27|Female|       Married|      Employee|More than 50000|             Post Graduate|          2| 12.9299|  77.6848|  560103|   Yes| Positive| Yes|                   Yes|
| 22|  Male|        Single|       Student|      No Income|                  Graduate|          3|  12.977|  77.5773|  560009|   Yes| Positive| Yes|                    No|
| 24|Female|        Single|       Student|      No Income|             Post Graduate|          3| 12.9828|  77.6131|  560042|   Yes| Positive| Yes|                   Yes|
| 23|Female|        Single|       Student|      No Income|             Post Graduate|          2| 12.9766|  77.5993|  560001|   Yes| Positive| Yes|                   Yes|
| 23|Female|        Single|       Student|      No Income|             Post Graduate|          4| 12.9854|  77.7081|  560048|   Yes| Positive| Yes|                   Yes|
| 22|Female|        Single|       Student|      No Income|             Post Graduate|          5|  12.985|  77.5533|  560010|   Yes| Positive| Yes|                   Yes|
| 23|  Male|        Single|       Student| Below Rs.10000|             Post Graduate|          2|  12.977|  77.5773|  560009|   Yes|Negative | Yes|                   Yes|
| 23|  Male|        Single|       Student|      No Income|             Post Graduate|          5| 12.8988|  77.5764|  560078|   Yes| Positive| Yes|                   Yes|
| 21|  Male|        Single|       Student|      No Income|                  Graduate|          4|  12.977|  77.5773|  560009|   Yes| Positive| Yes|                    No|
| 23|Female|        Single|Self Employeed| 10001 to 25000|             Post Graduate|          5| 12.9438|  77.5738|  560004|   Yes| Positive| Yes|                   Yes|
| 24|Female|        Single|       Student|      No Income|             Post Graduate|          6| 12.8893|  77.6399|  560068|   Yes| Positive| Yes|                   Yes|
| 28|Female|        Single|      Employee| 25001 to 50000|             Post Graduate|          2| 12.9783|  77.6408|  560038|   Yes| Positive| Yes|                   Yes|
| 23|Female|        Single|       Student|      No Income|                  Graduate|          3|  12.982|  77.6256|  560008|   Yes|Negative | Yes|                    No|
| 25|  Male|        Single|       Student|      No Income|                  Graduate|          4| 12.8988|  77.5764|  560078|   Yes|Negative | Yes|                    No|
| 21|Female|        Single|       Student| Below Rs.10000|             Post Graduate|          1| 12.9783|  77.6408|  560038|   Yes| Positive| Yes|                   Yes|
+---+------+--------------+--------------+---------------+--------------------------+-----------+--------+---------+--------+------+---------+----+----------------------+
only showing top 20 rows

In [21]:
# Dropping column
df.drop("Post_Graduate_Customer")

DataFrame[Age: int, Gender: string, Marital Status: string, Job Status: string, Monthly Income: string, Educational Qualifications: string, Family size: int, latitude: double, longitude: double, Pin code: int, Output: string, Feedback: string, _c12: string]

In [22]:
# using distinct() to remove duplicates
distinct_df = df.distinct()

print("DataFrame after removing duplicates")
distinct_df.show()

DataFrame after removing duplicates
+---+------+-----------------+--------------+---------------+--------------------------+-----------+--------+---------+--------+------+---------+----+----------------------+
|Age|Gender|   Marital Status|    Job Status| Monthly Income|Educational Qualifications|Family size|latitude|longitude|Pin code|Output| Feedback|_c12|Post_Graduate_Customer|
+---+------+-----------------+--------------+---------------+--------------------------+-----------+--------+---------+--------+------+---------+----+----------------------+
| 23|  Male|           Single|      Employee| 10001 to 25000|             Post Graduate|          2|  12.985|  77.5533|  560010|   Yes| Positive| Yes|                   Yes|
| 26|Female|           Single|Self Employeed| 25001 to 50000|             Post Graduate|          3| 12.9635|  77.5821|  560002|   Yes| Positive| Yes|                   Yes|
| 29|  Male|           Single|      Employee| 25001 to 50000|                  Graduate|          3| 13.0641|  77.5931|  560092|    No|Negative |  No|                    No|
| 21|  Male|           Single|       Student|      No Income|                  Graduate|          3| 13.0641|  77.5931|  560092|   Yes|Negative | Yes|                    No|
| 18|  Male|           Single|       Student|      No Income|                  Graduate|          5| 12.9635|  77.5821|  560002|   Yes| Positive| Yes|                    No|
| 32|Female|          Married|      Employee|More than 50000|                  Graduate|          1| 13.0019|  77.5713|  560003|    No| Positive|  No|                    No|
| 19|  Male|           Single|       Student|      No Income|                  Graduate|          6| 12.9442|  77.6076|  560030|   Yes| Positive| Yes|                    No|
| 23|  Male|           Single|       Student|      No Income|                  Graduate|          4| 13.0103|  77.5796|  560080|   Yes| Positive| Yes|                    No|
| 26|Female|          Married|       Student| Below Rs.10000|                      Ph.D|          3| 13.0166|  77.6804|  560016|   Yes| Positive| Yes|                    No|
| 22|  Male|           Single|       Student| Below Rs.10000|             Post Graduate|          3| 12.9551|  77.6593|  560017|   Yes|Negative | Yes|                   Yes|
| 26|  Male|           Single|      Employee| 25001 to 50000|             Post Graduate|          3|  13.014|  77.5658|  560012|   Yes| Positive| Yes|                   Yes|
| 23|Female|           Single|       Student|      No Income|                  Graduate|          1|  12.977|  77.5773|  560009|   Yes| Positive| Yes|                    No|
| 24|  Male|           Single|       Student|      No Income|             Post Graduate|          3| 13.0138|  77.5877|  560006|    No|Negative |  No|                   Yes|
| 24|Female|          Married|      Employee| 25001 to 50000|             Post Graduate|          2|  12.957|  77.5637|  560018|   Yes|Negative | Yes|                   Yes|
| 31|  Male|          Married|Self Employeed|More than 50000|                    School|          6| 13.0487|  77.5923|  560024|   Yes| Positive| Yes|                    No|
| 22|  Male|           Single|      Employee| 10001 to 25000|                  Graduate|          2| 12.9299|  77.6848|  560103|   Yes| Positive| Yes|                    No|
| 22|  Male|          Married|Self Employeed| 10001 to 25000|                    School|          3|  12.982|  77.6256|  560008|   Yes|Negative | Yes|                    No|
| 28|  Male|          Married|      Employee| 25001 to 50000|             Post Graduate|          5| 13.0262|    77.62|  560045|   Yes| Positive| Yes|                   Yes|
| 24|Female|           Single|       Student|      No Income|             Post Graduate|          4| 13.0496|  77.4941|  560073|   Yes| Positive| Yes|                   Yes|
| 32|Female|Prefer not to say|    House wife|      No Income|                  Graduate|          5|  12.982|  77.6256|  560008|   Yes|Negative | Yes|                    No|
+---+------+-----------------+--------------+---------------+--------------------------+-----------+--------+---------+--------+------+---------+----+----------------------+
only showing top 20 rows

In [25]:
# Example data
data = [("Alice", 34, "Single"),
        ("Bob", 45, "Married"),
        ("Charlie", 28, "Single")]

columns = ["Name", "Age", "MaritalStatus"]
df_new_data = spark.createDataFrame(data,columns)

# Register the dataFrame as temporary view
df_new_data.createOrReplaceTempView("people")

# Executing sql query using spark sql
result = spark.sql("Select * from people where Age > 30")

result.show()

+-----+---+-------------+
| Name|Age|MaritalStatus|
+-----+---+-------------+
|Alice| 34|       Single|
|  Bob| 45|      Married|
+-----+---+-------------+

In [33]:
# Register the dataFrame as temporary view
df.createOrReplaceTempView("food")

# Executing sql query using spark sql
result = spark.sql("Select * from food where Age > 31")

result.show()

+---+------+-----------------+--------------+---------------+--------------------------+-----------+--------+---------+--------+------+---------+----+----------------------+
|Age|Gender|   Marital Status|    Job Status| Monthly Income|Educational Qualifications|Family size|latitude|longitude|Pin code|Output| Feedback|_c12|Post_Graduate_Customer|
+---+------+-----------------+--------------+---------------+--------------------------+-----------+--------+---------+--------+------+---------+----+----------------------+
| 32|Female|Prefer not to say|    House wife|      No Income|                  Graduate|          5|  12.982|  77.6256|  560008|   Yes|Negative | Yes|                    No|
| 32|Female|          Married|    House wife|      No Income|                Uneducated|          3|  13.014|  77.5658|  560012|    No| Positive|  No|                    No|
| 32|Female|          Married|      Employee| 25001 to 50000|                  Graduate|          5| 12.9261|  77.6221|  560034|   Yes| Positive| Yes|                    No|
| 32|  Male|          Married|      Employee|More than 50000|                      Ph.D|          5| 12.9635|  77.5821|  560002|   Yes|Negative | Yes|                    No|
| 32|Female|          Married|      Employee|More than 50000|                  Graduate|          1| 13.0019|  77.5713|  560003|    No| Positive|  No|                    No|
| 33|  Male|          Married|      Employee|More than 50000|                      Ph.D|          5|  12.998|  77.6227|  560005|    No|Negative |  No|                    No|
| 32|  Male|          Married|      Employee| 10001 to 25000|                  Graduate|          4| 12.9783|  77.6408|  560038|   Yes| Positive| Yes|                    No|
| 32|Female|          Married|    House wife|      No Income|                  Graduate|          3|  12.985|  77.5533|  560010|   Yes| Positive| Yes|                    No|
| 32|Female|          Married|    House wife|      No Income|                    School|          5| 12.9889|  77.5741|  560020|   Yes| Positive| Yes|                    No|
| 32|  Male|          Married|Self Employeed| 10001 to 25000|                    School|          3|  12.982|  77.6256|  560008|   Yes|Negative | Yes|                    No|
| 32|  Male|          Married|      Employee|More than 50000|                  Graduate|          5| 12.9037|  77.5376|  560061|   Yes| Positive| Yes|                    No|
| 32|  Male|          Married|      Employee| 25001 to 50000|                  Graduate|          3| 12.9706|  77.6529|  560075|   Yes| Positive| Yes|                    No|
| 32|  Male|          Married|      Employee|More than 50000|             Post Graduate|          6| 12.9369|  77.6407|  560095|   Yes| Positive| Yes|                   Yes|
| 32|  Male|          Married|      Employee|More than 50000|                  Graduate|          5| 12.9037|  77.5376|  560061|   Yes| Positive| Yes|                    No|
| 32|  Male|          Married|      Employee| 25001 to 50000|                  Graduate|          3| 12.9706|  77.6529|  560075|   Yes| Positive| Yes|                    No|
| 32|  Male|          Married|      Employee|More than 50000|             Post Graduate|          6| 12.9369|  77.6407|  560095|   Yes| Positive| Yes|                   Yes|
| 32|  Male|          Married|      Employee| 25001 to 50000|                  Graduate|          3| 12.9706|  77.6529|  560075|   Yes| Positive| Yes|                    No|
+---+------+-----------------+--------------+---------------+--------------------------+-----------+--------+---------+--------+------+---------+----+----------------------+

In [34]:
df.describe().show()

+-------+------------------+------+--------------+----------+--------------+--------------------------+------------------+--------------------+------------------+------------------+------+---------+----+----------------------+
|summary|               Age|Gender|Marital Status|Job Status|Monthly Income|Educational Qualifications|       Family size|            latitude|         longitude|          Pin code|Output| Feedback|_c12|Post_Graduate_Customer|
+-------+------------------+------+--------------+----------+--------------+--------------------------+------------------+--------------------+------------------+------------------+------+---------+----+----------------------+
|  count|               388|   388|           388|       388|           388|                       388|               388|                 388|               388|               388|   388|      388| 388|                   388|
|   mean|24.628865979381445|  NULL|          NULL|      NULL|          NULL|                      NULL|3.2809278350515463|  12.972057989690706| 77.60015953608251| 560040.1134020619|  NULL|     NULL|NULL|                  NULL|
| stddev| 2.975592660672904|  NULL|          NULL|      NULL|          NULL|                      NULL|1.3510249396453127|0.044489248628105924|0.0513539170127217|31.399608710261372|  NULL|     NULL|NULL|                  NULL|
|    min|                18|Female|       Married|  Employee|10001 to 25000|                  Graduate|                 1|             12.8652|           77.4842|            560001|    No|Negative |  No|                    No|
|    max|                33|  Male|        Single|   Student|     No Income|                Uneducated|                 6|              13.102|           77.7582|            560109|   Yes| Positive| Yes|                   Yes|
+-------+------------------+------+--------------+----------+--------------+--------------------------+------------------+--------------------+------------------+------------------+------+---------+----+----------------------+

In [37]:
filtered_df.dtypes

[('Age', 'int'),
 ('Gender', 'string'),
 ('Marital Status', 'string'),
 ('Job Status', 'string'),
 ('Monthly Income', 'string'),
 ('Educational Qualifications', 'string'),
 ('Family size', 'int'),
 ('latitude', 'double'),
 ('longitude', 'double'),
 ('Pin code', 'int'),
 ('Output', 'string'),
 ('Feedback', 'string'),
 ('_c12', 'string'),
 ('Post_Graduate_Customer', 'string')]

In [38]:
filtered_df = df.filter((col("Age") > 25) & (col("Marital Status") == "Single"))

filtered_df.show()

+---+------+--------------+--------------+---------------+--------------------------+-----------+--------+---------+--------+------+---------+----+----------------------+
|Age|Gender|Marital Status|    Job Status| Monthly Income|Educational Qualifications|Family size|latitude|longitude|Pin code|Output| Feedback|_c12|Post_Graduate_Customer|
+---+------+--------------+--------------+---------------+--------------------------+-----------+--------+---------+--------+------+---------+----+----------------------+
| 28|Female|        Single|      Employee| 25001 to 50000|             Post Graduate|          2| 12.9783|  77.6408|  560038|   Yes| Positive| Yes|                   Yes|
| 26|  Male|        Single|       Student|      No Income|             Post Graduate|          4| 13.0019|  77.5713|  560003|   Yes| Positive| Yes|                   Yes|
| 26|  Male|        Single|       Student|      No Income|             Post Graduate|          4| 12.9048|  77.6821|  560036|   Yes| Positive| Yes|                   Yes|
| 26|  Male|        Single|Self Employeed| 10001 to 25000|                      Ph.D|          1| 12.9698|    77.75|  560066|    No| Positive|  No|                    No|
| 26|  Male|        Single|      Employee| 25001 to 50000|                  Graduate|          2| 12.9261|  77.6221|  560034|   Yes|Negative | Yes|                    No|
| 26|  Male|        Single|      Employee|More than 50000|             Post Graduate|          2| 12.9698|    77.75|  560066|    No| Positive|  No|                   Yes|
| 26|  Male|        Single|Self Employeed| 25001 to 50000|                  Graduate|          3| 12.9766|  77.5993|  560001|   Yes| Positive| Yes|                    No|
| 26|Female|        Single|Self Employeed| 25001 to 50000|             Post Graduate|          3| 12.9635|  77.5821|  560002|   Yes| Positive| Yes|                   Yes|
| 26|Female|        Single|      Employee|More than 50000|                  Graduate|          3|  12.998|  77.6227|  560005|   Yes| Positive| Yes|                    No|
| 26|  Male|        Single|      Employee|More than 50000|             Post Graduate|          3| 12.9337|    77.59|  560011|    No|Negative |  No|                   Yes|
| 26|  Male|        Single|      Employee| 25001 to 50000|             Post Graduate|          3|  13.014|  77.5658|  560012|   Yes| Positive| Yes|                   Yes|
| 27|  Male|        Single|      Employee|More than 50000|                      Ph.D|          4| 13.0503|  77.5529|  560013|    No| Positive|  No|                    No|
| 27|Female|        Single|       Student|      No Income|                      Ph.D|          5| 13.0503|  77.5529|  560013|    No|Negative |  No|                    No|
| 26|  Male|        Single|      Employee| Below Rs.10000|             Post Graduate|          1|  12.957|  77.5637|  560018|   Yes|Negative | Yes|                   Yes|
| 26|  Male|        Single|      Employee| 25001 to 50000|                  Graduate|          2| 12.9343|  77.6044|  560029|   Yes| Positive| Yes|                    No|
| 26|  Male|        Single|      Employee| 10001 to 25000|                  Graduate|          2| 12.9217|  77.5936|  560041|    No|Negative |  No|                    No|
| 28|  Male|        Single|Self Employeed| 10001 to 25000|             Post Graduate|          2| 12.9149|  77.5635|  560070|   Yes| Positive| Yes|                   Yes|
| 29|  Male|        Single|Self Employeed|More than 50000|                  Graduate|          6| 12.8845|  77.6036|  560076|   Yes| Positive| Yes|                    No|
| 29|  Male|        Single|      Employee| 25001 to 50000|                  Graduate|          3| 13.0641|  77.5931|  560092|    No|Negative |  No|                    No|
| 26|Female|        Single|      Employee| 25001 to 50000|             Post Graduate|          2| 12.9783|  77.6408|  560038|   Yes| Positive| Yes|                   Yes|
+---+------+--------------+--------------+---------------+--------------------------+-----------+--------+---------+--------+------+---------+----+----------------------+
only showing top 20 rows

In [39]:
# using collect() method to retrieve all rows as a list
collected_data = df.collect()

print(collected_data)

[Row(Age=20, Gender='Female', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=4, latitude=12.9766, longitude=77.5993, Pin code=560001, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=24, Gender='Female', Marital Status='Single', Job Status='Student', Monthly Income='Below Rs.10000', Educational Qualifications='Graduate', Family size=3, latitude=12.977, longitude=77.5773, Pin code=560009, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='No'), Row(Age=22, Gender='Male', Marital Status='Single', Job Status='Student', Monthly Income='Below Rs.10000', Educational Qualifications='Post Graduate', Family size=3, latitude=12.9551, longitude=77.6593, Pin code=560017, Output='Yes', Feedback='Negative ', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=22, Gender='Female', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Graduate', Family size=6, latitude=12.9473, longitude=77.5616, Pin code=560019, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='No'), Row(Age=22, Gender='Male', Marital Status='Single', Job Status='Student', Monthly Income='Below Rs.10000', Educational Qualifications='Post Graduate', Family size=4, latitude=12.985, longitude=77.5533, Pin code=560010, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=27, Gender='Female', Marital Status='Married', Job Status='Employee', Monthly Income='More than 50000', Educational Qualifications='Post Graduate', Family size=2, latitude=12.9299, longitude=77.6848, Pin code=560103, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=22, Gender='Male', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Graduate', Family size=3, latitude=12.977, longitude=77.5773, Pin code=560009, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='No'), Row(Age=24, Gender='Female', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=3, latitude=12.9828, longitude=77.6131, Pin code=560042, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=23, Gender='Female', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=2, latitude=12.9766, longitude=77.5993, Pin code=560001, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=23, Gender='Female', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=4, latitude=12.9854, longitude=77.7081, Pin code=560048, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=22, Gender='Female', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=5, latitude=12.985, longitude=77.5533, Pin code=560010, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=23, Gender='Male', Marital Status='Single', Job Status='Student', Monthly Income='Below Rs.10000', Educational Qualifications='Post Graduate', Family size=2, latitude=12.977, longitude=77.5773, Pin code=560009, Output='Yes', Feedback='Negative ', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=23, Gender='Male', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=5, latitude=12.8988, longitude=77.5764, Pin code=560078, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=21, Gender='Male', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Graduate', Family size=4, latitude=12.977, longitude=77.5773, Pin code=560009, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='No'), Row(Age=23, Gender='Female', Marital Status='Single', Job Status='Self Employeed', Monthly Income='10001 to 25000', Educational Qualifications='Post Graduate', Family size=5, latitude=12.9438, longitude=77.5738, Pin code=560004, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=24, Gender='Female', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=6, latitude=12.8893, longitude=77.6399, Pin code=560068, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=28, Gender='Female', Marital Status='Single', Job Status='Employee', Monthly Income='25001 to 50000', Educational Qualifications='Post Graduate', Family size=2, latitude=12.9783, longitude=77.6408, Pin code=560038, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=23, Gender='Female', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Graduate', Family size=3, latitude=12.982, longitude=77.6256, Pin code=560008, Output='Yes', Feedback='Negative ', _c12='Yes', Post_Graduate_Customer='No'), Row(Age=25, Gender='Male', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Graduate', Family size=4, latitude=12.8988, longitude=77.5764, Pin code=560078, Output='Yes', Feedback='Negative ', _c12='Yes', Post_Graduate_Customer='No'), Row(Age=21, Gender='Female', Marital Status='Single', Job Status='Student', Monthly Income='Below Rs.10000', Educational Qualifications='Post Graduate', Family size=1, latitude=12.9783, longitude=77.6408, Pin code=560038, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=24, Gender='Male', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=3, latitude=12.977, longitude=77.5773, Pin code=560009, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=22, Gender='Male', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=4, latitude=13.0298, longitude=77.6047, Pin code=560032, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=22, Gender='Female', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Graduate', Family size=4, latitude=12.9983, longitude=77.6409, Pin code=560033, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='No'), Row(Age=23, Gender='Male', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Graduate', Family size=4, latitude=12.9925, longitude=77.5633, Pin code=560021, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='No'), Row(Age=21, Gender='Male', Marital Status='Single', Job Status='Student', Monthly Income='Below Rs.10000', Educational Qualifications='Post Graduate', Family size=3, latitude=12.9306, longitude=77.5434, Pin code=560085, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=25, Gender='Male', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=3, latitude=12.982, longitude=77.6256, Pin code=560008, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=22, Gender='Female', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=5, latitude=12.9353, longitude=77.5585, Pin code=560050, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=22, Gender='Male', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=3, latitude=12.9155, longitude=77.5135, Pin code=560098, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=23, Gender='Female', Marital Status='Single', Job Status='Employee', Monthly Income='10001 to 25000', Educational Qualifications='Graduate', Family size=3, latitude=12.9854, longitude=77.7081, Pin code=560048, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='No'), Row(Age=22, Gender='Male', Marital Status='Single', Job Status='Student', Monthly Income='Below Rs.10000', Educational Qualifications='Post Graduate', Family size=4, latitude=13.0019, longitude=77.5713, Pin code=560003, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=22, Gender='Female', Marital Status='Single', Job Status='Employee', Monthly Income='10001 to 25000', Educational Qualifications='Graduate', Family size=5, latitude=12.9698, longitude=77.75, Pin code=560066, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='No'), Row(Age=22, Gender='Male', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=4, latitude=12.9783, longitude=77.6408, Pin code=560038, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=25, Gender='Male', Marital Status='Married', Job Status='Employee', Monthly Income='More than 50000', Educational Qualifications='Ph.D', Family size=4, latitude=12.9261, longitude=77.6221, Pin code=560034, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='No'), Row(Age=22, Gender='Female', Marital Status='Single', Job Status='Student', Monthly Income='10001 to 25000', Educational Qualifications='Post Graduate', Family size=5, latitude=12.985, longitude=77.5533, Pin code=560010, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=22, Gender='Female', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=2, latitude=12.9119, longitude=77.6446, Pin code=560102, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=25, Gender='Male', Marital Status='Single', Job Status='Student', Monthly Income='10001 to 25000', Educational Qualifications='Post Graduate', Family size=3, latitude=12.9306, longitude=77.5434, Pin code=560085, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=25, Gender='Male', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=5, latitude=12.977, longitude=77.5773, Pin code=560009, Output='No', Feedback='Positive', _c12='No', Post_Graduate_Customer='Yes'), Row(Age=32, Gender='Female', Marital Status='Prefer not to say', Job Status='House wife', Monthly Income='No Income', Educational Qualifications='Graduate', Family size=5, latitude=12.982, longitude=77.6256, Pin code=560008, Output='Yes', Feedback='Negative ', _c12='Yes', Post_Graduate_Customer='No'), Row(Age=23, Gender='Female', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=3, latitude=12.9438, longitude=77.5738, Pin code=560004, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=23, Gender='Female', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=4, latitude=12.8988, longitude=77.5764, Pin code=560078, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=30, Gender='Male', Marital Status='Married', Job Status='Self Employeed', Monthly Income='More than 50000', Educational Qualifications='Uneducated', Family size=4, latitude=12.9662, longitude=77.6068, Pin code=560025, Output='Yes', Feedback='Negative ', _c12='Yes', Post_Graduate_Customer='No'), Row(Age=23, Gender='Male', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Graduate', Family size=3, latitude=12.9565, longitude=77.5484, Pin code=560026, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='No'), Row(Age=23, Gender='Male', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=4, latitude=12.9925, longitude=77.5633, Pin code=560021, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=22, Gender='Female', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=5, latitude=12.985, longitude=77.5533, Pin code=560010, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=22, Gender='Male', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Graduate', Family size=5, latitude=12.985, longitude=77.5533, Pin code=560010, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='No'), Row(Age=27, Gender='Female', Marital Status='Married', Job Status='Self Employeed', Monthly Income='10001 to 25000', Educational Qualifications='Post Graduate', Family size=2, latitude=12.9261, longitude=77.6221, Pin code=560034, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=24, Gender='Female', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=3, latitude=12.977, longitude=77.5773, Pin code=560009, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=23, Gender='Male', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=2, latitude=12.977, longitude=77.5773, Pin code=560009, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=23, Gender='Female', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Graduate', Family size=3, latitude=12.982, longitude=77.6256, Pin code=560008, Output='Yes', Feedback='Negative ', _c12='Yes', Post_Graduate_Customer='No'), Row(Age=22, Gender='Female', Marital Status='Single', Job Status='Student', Monthly Income='10001 to 25000', Educational Qualifications='Post Graduate', Family size=5, latitude=12.985, longitude=77.5533, Pin code=560010, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=23, Gender='Female', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Graduate', Family size=5, latitude=13.0206, longitude=77.6479, Pin code=560043, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='No'), Row(Age=23, Gender='Female', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=2, latitude=12.977, longitude=77.5773, Pin code=560009, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=24, Gender='Male', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=3, latitude=12.977, longitude=77.5773, Pin code=560009, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=25, Gender='Male', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=2, latitude=12.9635, longitude=77.5821, Pin code=560002, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=22, Gender='Male', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=3, latitude=12.9306, longitude=77.5434, Pin code=560085, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=28, Gender='Female', Marital Status='Married', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Graduate', Family size=2, latitude=13.0067, longitude=77.545, Pin code=560086, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='No'), Row(Age=22, Gender='Female', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=1, latitude=12.8845, longitude=77.6036, Pin code=560076, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=24, Gender='Female', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Graduate', Family size=3, latitude=12.977, longitude=77.5773, Pin code=560009, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='No'), Row(Age=31, Gender='Male', Marital Status='Married', Job Status='Employee', Monthly Income='More than 50000', Educational Qualifications='Ph.D', Family size=5, latitude=12.9119, longitude=77.6446, Pin code=560102, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='No'), Row(Age=25, Gender='Male', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=4, latitude=13.0067, longitude=77.545, Pin code=560086, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=23, Gender='Male', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=5, latitude=12.8988, longitude=77.5764, Pin code=560078, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=22, Gender='Male', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=3, latitude=12.8845, longitude=77.6036, Pin code=560076, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=23, Gender='Male', Marital Status='Single', Job Status='Student', Monthly Income='25001 to 50000', Educational Qualifications='Post Graduate', Family size=1, latitude=13.0158, longitude=77.539, Pin code=560096, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=23, Gender='Male', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Graduate', Family size=4, latitude=12.9343, longitude=77.6044, Pin code=560029, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='No'), Row(Age=23, Gender='Female', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=2, latitude=13.0019, longitude=77.5713, Pin code=560003, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=25, Gender='Male', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=6, latitude=13.0012, longitude=77.5995, Pin code=560046, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=24, Gender='Male', Marital Status='Single', Job Status='Employee', Monthly Income='10001 to 25000', Educational Qualifications='Graduate', Family size=4, latitude=12.9442, longitude=77.6076, Pin code=560030, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='No'), Row(Age=23, Gender='Female', Marital Status='Single', Job Status='Student', Monthly Income='No Income', Educational Qualifications='Post Graduate', Family size=4, latitude=13.0487, longitude=77.5923, Pin code=560024, Output='Yes', Feedback='Positive', _c12='Yes', Post_Graduate_Customer='Yes'), Row(Age=2

Using GroupBy Function

In [40]:
marital_status_counts = df.groupBy("Marital Status").agg(count("*").alias("Count"))

marital_status_counts.show()

+-----------------+-----+
|   Marital Status|Count|
+-----------------+-----+
|Prefer not to say|   12|
|          Married|  108|
|           Single|  268|
+-----------------+-----+

Applying Inner Join

In [42]:
# Example data
data1 = [("Alice", 34, "Single"),
        ("Bob", 45, "Married"),
        ("Charlie", 28, "Single")]

columns1 = ["Name", "Age", "MaritalStatus"]
df1 = spark.createDataFrame(data1,columns1)

data2 = [("Alice", "New York"), 
         ("Bob", "Los Angeles"),
         ("Charlie", "Chicago")]

columns2 = ["Name","City"]
df2 = spark.createDataFrame(data2,columns2)

# Joining the two DataFrames based on the 'Name' column
joined_df = df1.join(df2, "Name", "inner") 

# Printing the joined DataFrame
joined_df.show()

+-------+---+-------------+-----------+
|   Name|Age|MaritalStatus|       City|
+-------+---+-------------+-----------+
|  Alice| 34|       Single|   New York|
|    Bob| 45|      Married|Los Angeles|
|Charlie| 28|       Single|    Chicago|
+-------+---+-------------+-----------+

Applying Cross Join

In [44]:
# Example data
data1 = [("Alice", 34, "Single"),
        ("Bob", 45, "Married"),
        ("Charlie", 28, "Single")]

columns1 = ["Name", "Age", "MaritalStatus"]
df1 = spark.createDataFrame(data1,columns1)

data2 = [("New York",), 
         ("Los Angeles",),
         ("Chicago",)]

columns2 = ["City"]
df2 = spark.createDataFrame(data2,columns2)

# Joining the two DataFrames based on the 'Name' column
cross_joined_df = df1.crossJoin(df2.select("*")) 

# Printing the joined DataFrame
cross_joined_df.show()

+-------+---+-------------+-----------+
|   Name|Age|MaritalStatus|       City|
+-------+---+-------------+-----------+
|  Alice| 34|       Single|   New York|
|  Alice| 34|       Single|Los Angeles|
|  Alice| 34|       Single|    Chicago|
|    Bob| 45|      Married|   New York|
|    Bob| 45|      Married|Los Angeles|
|    Bob| 45|      Married|    Chicago|
|Charlie| 28|       Single|   New York|
|Charlie| 28|       Single|Los Angeles|
|Charlie| 28|       Single|    Chicago|
+-------+---+-------------+-----------+

Applying Broadcast

In [45]:
# Example data
data1 = [("Alice", 34),
        ("Bob", 45),
        ("Charlie", 28)]

columns1 = ["Name", "Age"]
df1 = spark.createDataFrame(data1,columns1)

data2 = [("Alice", "New York"), 
         ("Bob", "Los Angeles"),
         ("Charlie", "Chicago"),
         ("David", "Houston"),
         ("Eve", "San Francisco")]

columns2 = ["Name","City"]
df2 = spark.createDataFrame(data2,columns2)

# Broadcast the smaller dataFrame before joining 
# (Always try to broadcast the smaller dataset -> Coz it will be copied to every executor's memory and occupy space there)
broadcast_df1 = broadcast(df1)

# Performing a join between the two dataFrames
joined_df = broadcast_df1.join(df2, "Name", "inner")

# Printing the joined DataFrame
joined_df.show()

+-------+---+-----------+
|   Name|Age|       City|
+-------+---+-----------+
|  Alice| 34|   New York|
|    Bob| 45|Los Angeles|
|Charlie| 28|    Chicago|
+-------+---+-----------+

In [46]:
# Alias -> Giving name to a data frame
df_alias = df.alias("Person")

Applying Rollup

In [48]:
# Example data
data = [("Alice", "Sales",5000),
        ("Bob","Sales",6000),
        ("Charlie","Marketing",4000),
        ("David","Marketing",3000)]

columns = ["Name", "Department", "Salary"]
df = spark.createDataFrame(data,columns)

# performing rollup aggregation across 'department' and 'name'
rollup_df = df.rollup("Department", "Name").sum("Salary")

# showing the results
rollup_df.show()

+----------+-------+-----------+
|Department|   Name|sum(Salary)|
+----------+-------+-----------+
|      NULL|   NULL|      18000|
|     Sales|  Alice|       5000|
|     Sales|   NULL|      11000|
|     Sales|    Bob|       6000|
| Marketing|   NULL|       7000|
| Marketing|Charlie|       4000|
| Marketing|  David|       3000|
+----------+-------+-----------+

Cube

In [50]:
# Example Data
data = [("Alice", "Sales",5000),
        ("Bob","Sales",6000),
        ("Charlie","Marketing",4000),
        ("David","Marketing",3000)]

columns = ["Name", "Department", "Salary"]
df = spark.createDataFrame(data,columns)

# perform Cube Aggregation across department and Name
cube_df = df.cube("Department", "Name").sum("Salary")

# Show results
cube_df.show()

+----------+-------+-----------+
|Department|   Name|sum(Salary)|
+----------+-------+-----------+
|      NULL|  Alice|       5000|
|      NULL|   NULL|      18000|
|     Sales|  Alice|       5000|
|     Sales|   NULL|      11000|
|     Sales|    Bob|       6000|
|      NULL|    Bob|       6000|
| Marketing|   NULL|       7000|
| Marketing|Charlie|       4000|
|      NULL|Charlie|       4000|
|      NULL|  David|       3000|
| Marketing|  David|       3000|
+----------+-------+-----------+

Pivot

In [51]:
# Example Data
data = [("Alice", "Sales",5000),
        ("Bob","Sales",6000),
        ("Charlie","Marketing",4000),
        ("David","Marketing",3000)]

columns = ["Name", "Department", "Salary"]
df = spark.createDataFrame(data,columns)

# perform Cube Aggregation across department and Name
pivot_df = df.groupby("Name").pivot("Department").sum("Salary")

# Show results
pivot_df.show()

+-------+---------+-----+
|   Name|Marketing|Sales|
+-------+---------+-----+
|Charlie|     4000| NULL|
|    Bob|     NULL| 6000|
|  Alice|     NULL| 5000|
|  David|     3000| NULL|
+-------+---------+-----+

Sort

In [53]:
# Example data
data = [("Alice", 34, "Single"),
        ("Bob", 45, "Married"),
        ("Charlie", 28, "Single")]

columns = ["Name", "Age", "MaritalStatus"]
df = spark.createDataFrame(data,columns)

sorted_df = df.sort("Age") #orderby will also give the same result

sorted_df.show()

+-------+---+-------------+
|   Name|Age|MaritalStatus|
+-------+---+-------------+
|Charlie| 28|       Single|
|  Alice| 34|       Single|
|    Bob| 45|      Married|
+-------+---+-------------+

Partition (Double check it's result)

In [55]:
# Example data
data = [("Alice", 34, "Single"),
        ("Bob", 45, "Married"),
        ("Charlie", 28, "Single")]

columns = ["Name", "Age", "MaritalStatus"]
df = spark.createDataFrame(data,columns)

# Repartitioning the data frame into 2 partitions for demonstration
df = df.repartition(2)

sorted_within_partitions_df = df.sortWithinPartitions("Age") 

sorted_within_partitions_df.show()

+-------+---+-------------+
|   Name|Age|MaritalStatus|
+-------+---+-------------+
|  Alice| 34|       Single|
|    Bob| 45|      Married|
|Charlie| 28|       Single|
+-------+---+-------------+

Dropping Duplicates

In [56]:
# Example data
data = [("Alice", 34, "Single"),
        ("Bob", 45, "Married"),
        ("Bob", 45, "Married"),
        ("Charlie", 28, "Single")]

columns = ["Name", "Age", "MaritalStatus"]
df = spark.createDataFrame(data,columns)

# Repartitioning the data frame into 2 partitions for demonstration
deduplicated_df = df.dropDuplicates()

deduplicated_df.show()

+-------+---+-------------+
|   Name|Age|MaritalStatus|
+-------+---+-------------+
|  Alice| 34|       Single|
|    Bob| 45|      Married|
|Charlie| 28|       Single|
+-------+---+-------------+