In [6]:
import pyspark
from pyspark.sql import SparkSession #Necessary for initializing pyspark
from pyspark.sql.functions import *
from pyspark.sql import functions as F

In [2]:
# Creating a SparkSession
spark = (SparkSession.builder.appName("SparkSQLExample").getOrCreate())

# Path to data set
csv_file = "superstore.csv"

df = spark.read \
    .format("csv") \
    .option("inferSchema", "true") \
    .option("header", "true") \
    .load(csv_file)


# Creating a temporary view to run SQL Queries
df.createOrReplaceTempView("u")

In [15]:
df.show()

+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|     Customer Name|    Segment|      Country|           City|         State|Postal Code| Region|     Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount|  Profit|
+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|     1|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|  261.96|       2|       0| 41.9136|
|     2|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|  731.94|       3|       0| 219.582|
|     3|CA-2016-138688| 6/12/2016| 6/16/2016|  Second Class|   DV-13045|   Darrin Van Huff|  Corporate|United States|    Los Angeles|    California|      90036|   West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|   14.62|       2|       0|  6.8714|
|     4|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|957.5775|       5|    0.45|-383.031|
|     5|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|OFF-ST-10000760|Office Supplies|     Storage|Eldon Fold 'N Rol...|  22.368|       2|     0.2|  2.5164|
|     6|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-FU-10001487|      Furniture| Furnishings|Eldon Expressions...|   48.86|       7|       0| 14.1694|
|     7|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AR-10002833|Office Supplies|         Art|          Newell 322|    7.28|       4|       0|  1.9656|
|     8|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002275|     Technology|      Phones|Mitel 5320 IP Pho...| 907.152|       6|     0.2| 90.7152|
|     9|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-BI-10003910|Office Supplies|     Binders|DXL Angle-View Bi...|  18.504|       3|     0.2|  5.7825|
|    10|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AP-10002892|Office Supplies|  Appliances|Belkin F5C206VTEL...|   114.9|       5|       0|   34.47|
|    11|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-TA-10001539|      Furniture|      Tables|Chromcraft Rectan...|1706.184|       9|     0.2| 85.3092|
|    12|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002033|     Technology|      Phones|Konftel 250 Confe...| 911.424|       4|     0.2| 68.3568|
|    13|CA-2017-114412| 4/15/2017| 4/20/2017|Standard Class|   AA-10480|      Andrew Allen|   Consumer|United States|        Concord|North Carolina|      28027|  South|OFF-PA-10002365|Office Supplies|       Paper|          Xerox 1967|  15.552|       3|     0.2|  5.4432|
|    14|CA-2016-161389| 12/5/2016|12/10/2016|Standard Class|   IM-15070|      Irene Maddox|   Consumer|United States|        Seattle|    Washington|      98103|   West|OFF-BI-10003656|Office Supplies|     Binders|Fellowes PB200 Pl...| 407.976|       3|     0.2|132.5922|
|    15|US-2015-118983|11/22/2015|11/26/2015|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States|     Fort Worth|         Texas|      76106|Central|OFF-AP-10002311|Office Supplies|  Appliances|Holmes Replacemen...|   68.81|       5|     0.8|-123.858|
|    16|US-2015-118983|11/22/2015|11/26/2015|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States|     Fort Worth|         Texas|      76106|Central|OFF-BI-10000756|Office Supplies|     Binders|Storex DuraTech R...|   2.544|       3|     0.8|  -3.816|
|    17|CA-2014-105893|11/11/2014|11/18/2014|Standard Class|   PK-19075|         Pete Kriz|   Consumer|United States|        Madison|     Wisconsin|      53711|Central|OFF-ST-10004186|Office Supplies|     Storage|"Stur-D-Stor Shel...|  665.88|       6|       0| 13.3176|
|    18|CA-2014-167164| 5/13/2014| 5/15/2014|  Second Class|   AG-10270|   Alejandro Grove|   Consumer|United States|    West Jordan|          Utah|      84084|   West|OFF-ST-10000107|Office Supplies|     Storage|Fellowes Super St...|    55.5|       2|       0|    9.99|
|    19|CA-2014-143336| 8/27/2014|  9/1/2014|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States|  San Francisco|    California|      94109|   West|OFF-AR-10003056|Office Supplies|         Art|          Newell 341|    8.56|       2|       0|  2.4824|
|    20|CA-2014-143336| 8/27/2014|  9/1/2014|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States|  San Francisco|    California|      94109|   West|TEC-PH-10001949|     Technology|      Phones|Cisco SPA 501G IP...|  213.48|       3|     0.2|  16.011|
+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
only showing top 20 rows

#### Determine the best-selling product sub-category.

In [8]:
best_selling_sub_category = df.groupBy("Sub-Category").agg(F.round(F.sum("Quantity")).alias("Total Quantity Sold"))
best_selling_sub_category.orderBy("Total Quantity Sold", ascending=False).show()
# We use `F` as a shorthand for `pyspark.sql.functions` to make the code cleaner and easier to read by reducing repetitive typing.

+------------+-------------------+
|Sub-Category|Total Quantity Sold|
+------------+-------------------+
|     Storage|            10105.0|
| Furnishings|             9644.0|
|     Binders|             8576.0|
|       Paper|             7813.0|
|      Phones|             3508.0|
|         Art|             3000.0|
| Accessories|             2976.0|
|      Chairs|             2356.0|
|   Envelopes|             2017.0|
|  Appliances|             1729.0|
|      Labels|             1400.0|
|    Supplies|             1311.0|
|      Tables|             1241.0|
|   Fasteners|              917.0|
|   Bookcases|              868.0|
|    Machines|              440.0|
|     Copiers|              234.0|
+------------+-------------------+

In [9]:
best_selling_sub_category.orderBy("Total Quantity Sold", ascending=False).limit(1).show()

+------------+-------------------+
|Sub-Category|Total Quantity Sold|
+------------+-------------------+
|     Storage|            10105.0|
+------------+-------------------+

#### Identify the product category generating the highest revenue.

In [12]:
highest_rev_generating_category = df.groupBy("Category").agg(F.round(F.sum("Sales"),2).alias("Total Revenue Generated by Category"))
highest_rev_generating_category.orderBy("Total Revenue Generated by Category", ascending=False).show()

+---------------+-----------------------------------+
|       Category|Total Revenue Generated by Category|
+---------------+-----------------------------------+
|     Technology|                          835900.07|
|      Furniture|                          733046.86|
|Office Supplies|                          703502.93|
+---------------+-----------------------------------+

In [13]:
highest_rev_generating_category.orderBy("Total Revenue Generated by Category", ascending=False).limit(1).show()

+----------+-----------------------------------+
|  Category|Total Revenue Generated by Category|
+----------+-----------------------------------+
|Technology|                          835900.07|
+----------+-----------------------------------+

#### Compile a top 10 list of the most valuable customers.

In [21]:
most_valuable_customer = (
    df.groupBy("Customer Name")
    .agg(F.round(F.sum("Profit"), 2).alias("Total Profit from Customer"))
    .orderBy("Total Profit from Customer", ascending=False)
    .limit(10)
)

most_valuable_customer.show()

+--------------------+--------------------------+
|       Customer Name|Total Profit from Customer|
+--------------------+--------------------------+
|        Tamara Chand|                   8964.48|
|        Raymond Buch|                    6976.1|
|        Sanjit Chand|                   5757.41|
|        Hunter Lopez|                   5622.43|
|       Adrian Barton|                   5438.91|
|        Tom Ashbrook|                   4703.79|
|Christopher Martinez|                   3899.89|
|       Keith Dawkins|                   3038.63|
|         Andy Reiter|                   2884.62|
|       Daniel Raglin|                   2869.08|
+--------------------+--------------------------+

#### Determine the state responsible for the highest number of orders.

In [23]:
highest_ordering_state = (
    df.groupBy("State")
    .agg(F.round(F.sum("Quantity"), 2).alias("Total Orders By State"))
    .orderBy("Total Orders By State", ascending=False)
    .limit(10)
)

highest_ordering_state.show()

+------------+---------------------+
|       State|Total Orders By State|
+------------+---------------------+
|  California|             13637.27|
|    New York|               5116.2|
|       Texas|              4272.41|
|Pennsylvania|              3614.38|
|  Washington|              3541.89|
|    Illinois|              2903.23|
|        Ohio|              2863.19|
|     Florida|              1939.53|
|  New Jersey|              1602.74|
|     Arizona|              1596.94|
+------------+---------------------+

#### Find the year with the highest revenue generation.

In [46]:
# This query converts the "Order Date" column from a string format (M/d/yyyy) to a date type and creates a new column "Year" that extracts the year from the converted date.
df_with_year = df.withColumn("Order Date", F.to_date("Order Date", "M/d/yyyy")) \
                 .withColumn("Year", F.year("Order Date"))

In [47]:
most_rev_generating_year = (
    df_with_year.groupBy("Year")
    .agg(F.round(F.sum("Sales"), 2).alias("Total Sales by Year"))
    .orderBy("Total Sales by Year", ascending=False)
)

In [48]:
most_rev_generating_year.show()

+----+-------------------+
|Year|Total Sales by Year|
+----+-------------------+
|2017|          724994.56|
|2016|          601265.26|
|2014|           481763.8|
|2015|          464426.24|
+----+-------------------+